@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Berkeley Mono Variable', monospace;
    --font-geist: 'Berkeley Mono Variable', monospace;
    --font-geist-mono: 'Berkeley Mono Variable', monospace;
    --font-mona: 'Berkeley Mono Variable', monospace;
    --font-ibm-plex: 'Berkeley Mono Variable', monospace;
    --font-manrope: 'Berkeley Mono Variable', monospace;
  }

  html {
    font-family: var(--font-sans);
    font-feature-settings: "rlig" 1, "calt" 1;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .animate-in {
    animation-name: animateIn;
    animation-duration: 350ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .animate-out {
    animation-name: animateOut;
    animation-duration: 350ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }
}